@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans');
/* Font - Inconsolata */
/* Font - Press Start 2p */
/* Font - Karla */
body {
   margin: 0px;
   font-size: 16px;
   font-family: 'Work Sans', sans-serif;
}
