/* https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax {
    /* Set a specific height */
    min-height: 90vh;
    margin-bottom: 130px; <!-- seems to conflict with min-height-->
    margin-top: 80px;
    margin-right: 1vh;
    margin-left: 1vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
  Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed
  @media only screen and (max-device-width: 1366px) {.parallax {  background-attachment: scroll;}}
*/
.para1 { background-image: url('/img/parallax/1.jpg');}
.para2 { background-image: url('/img/parallax/2.jpg');}
.para3 { background-image: url('/img/parallax/3.jpg');}
.para4 { background-image: url('/img/parallax/4.jpg');}
.para5 { background-image: url('/img/parallax/5.jpg');}
.para6 { background-image: url('/img/parallax/6.jpg');}
.para7 { background-image: url('/img/parallax/7.jpg');}
.para8 { background-image: url('/img/parallax/8.jpg');}
.para9 { background-image: url('/img/parallax/9.jpg');}
.para10 { background-image: url('/img/parallax/10.jpg');}
