/* https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax {
    /* Set a specific height */
    min-height: 90vh;
    margin-bottom: 130px;
    margin-top: 80px;
    margin-right: 2%;
    margin-left: 2%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
*/
.paracircuit {
    /* The image used */
    background-image: url('/img/parallax/1.jpg');
}
.paradrac {
    /* The image used */
    background-image: url('https://farm5.staticflickr.com/4913/44899528425_deff814ff1_k.jpg');
}
.paracircbrand {
    /* The image used */
    background-image: url('https://farm5.staticflickr.com/4907/31941699348_61e5bd7bb4_k.jpg');
}
.paraverve {
    /* The image used */
    background-image: url('https://farm5.staticflickr.com/4893/44899524705_3c3dcecd8f_k.jpg');
}

.parabuck {
    /* The image used */
    background-image: url('https://farm5.staticflickr.com/4870/31941698268_824136efb1_k.jpg');
}

.paradiary {
    /* The image used */
    background-image: url('https://farm5.staticflickr.com/4914/45398337444_a1dbba7230_k.jpg');
}

.parasacre {
    /* The image used */
    background-image: url('https://farm5.staticflickr.com/4840/44899522735_3531a86de6_k.jpg');
}

.paratraffic {
    /* The image used */
    background-image: url('https://farm5.staticflickr.com/4805/45157960534_03910bdfeb_k.jpg');
}

.paraemotions {
    /* The image used */
    background-image: url('https://farm5.staticflickr.com/4817/45812439151_996cc58224_k.jpg');
}

.paraplastic {
    /* The image used */
    background-image: url('https://farm5.staticflickr.com/4839/45812436781_95e0b769ca_k.jpg');
}
